@model StoreSalesAccounting.Models.Repair;

<!DOCTYPE html>
<html>
<head>
    <title>Ремонт</title>
    <meta charset="utf-8" />
</head>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h2>Новая заявка на ремонт</h2>
            </div>
            <div class="card-body">
                <form asp-action="CreateNewRepair" asp-controller="Repair">
                    <table class="table">                    
                        <tr>
                            <th>Кто принял</th>
                            <th>Мастер</th>
                            <th>Имя клиента</th>
                            <th>Телефон клиента</th>
                            <th>Инструмент</th>
                            <th>Тех задание</th>
                            <th>Свой чехол</th>
                            <th>Дата окончания ремонта</th>
                        </tr>
                        <tr >
                            <th><input class="myInput" type="text"  asp-for="ReceivingEmployee"/></th>                       
                            <th><input class="myInput" type="text" asp-for="Master"/></th>
                            <th><input class="myInput" type="text" asp-for="ClientName"/></th>
                            <th><input class="myInput" type="text" asp-for="ClientNumber"/></th>
                            <th><input class="myInput" type="text" asp-for="MusicalInstrument"/></th>
                            <th><input class="myInput" type="text" asp-for="TechnicalTask"/></th>
                            <th><input type="checkbox" asp-for="GuitarCase"/></th>
                            <th><input class="myInput" type="date" asp-for="RepairEndDate"/></th>
                        </tr>                    
                    </table>
                    <div class="mb-3">
                        <button class="btn btn-success">Добавить</button>
                    </div>
                </form>                 
            </div>
        </div>
    </div>    
</div>
</html>