@model StoreSalesAccounting.Controllers.EmployeeController;

<!DOCTYPE html>
<html>
<head>
    <title>Новая продажа</title>
    <meta charset="utf-8" />
</head>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h2>Довабить новую продажу</h2>
            </div>
            <div class="card-body">
                <form method="post" action="~/Employee/NewEnrollment">
                    <div class="mb-3">
                        <label asp-for="Name">Имя</label><br />
                        <input type="text" name="Name" /><br /><br />
                        <label asp-for="Product">Проданный товар</label><br />
                        <input type="text" name="Product" /><br /><br />
                        <label asp-for="Deposit">Сумма</label><br />
                        <input type="number" name="Deposit" /><br /><br />
                        <label>Способ облаты:</label><br />
                        <input type="checkbox" name="Cash" />Наличные<br />
                        <input type="checkbox" name="NonCash" />Безналичные<br />
                        <input type="checkbox" name="OnlineCash" />Перевод<br />                        
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-green">Внести</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>