<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Желаю не хорошего, а замечательного дня!</h1>
        <h3><a href=https://www.guitarget.ru/ class="link-success">Вы можете посетить наш сайт</a></h3>
    </div>
</body>
</html>

